@mixin text-style($color, $font-size, $font-weight){
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
}

.h1text {
  @include text-style(green, 30px, bold)
}

.textBuy {
  @include text-style(red, 24px, light);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  padding: 10px 15px;
  border: 1px solid red;
  background-color: $secondary-color;
}
